spring:
  datasource:
    url: jdbc:h2:mem:skilltracker
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  jpa:
    show-sql: true
    properties:
      hibernate.format_sql: true
  flyway:
    locations:
      - classpath:db/migration
      - classpath:db/migration/dev