name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # ------------------------------------------------------------
  # Define whether DockerHub is enabled based on secrets presence
  # GitHub Actions does NOT allow using secrets directly in `if:`
  # expressions, so we expose a simple boolean flag here.
  # ------------------------------------------------------------
  DOCKERHUB_ENABLED: ${{ secrets.DOCKERHUB_USERNAME != '' }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permission for Gradle Wrapper
        run: chmod +x gradlew

      - name: Build & Test All Modules
        run: ./gradlew build --no-daemon

      - name: Upload Test Reports if failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: '**/build/reports/tests/test'


  docker-build:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # -------------------------------------------------
